<div class="container">
    <div class="container">
        <div class="text-center">
            <br>
            <h1>Welcome to our Recipe Management Application</h1>
            <p class="lead">A culinary haven for food enthusiasts and home cooks alike!</p>
        </div>
        <br>
        <div class="row">
                <div class="col-md-6 text-center">
                  <div class="aboutbox">
                    <h4>What We Do</h4>
                    <p>Our platform is designed to help you manage and share your favorite recipes with ease. From appetizers to desserts, traditional to fusion, we cover a wide range of cuisines and dishes that cater to diverse taste buds.</p>
                  </div>
                  <br>
                  <div class="aboutbox">
                    <h4>Join Us</h4>
                    <p>We invite you to join our community of food lovers. Share your recipes, explore new ones, and embark on an unforgettable gastronomic journey. Happy cooking!</p>
                  </div>
                </div>
            
                <div class="col-md-5 aboutbox2">
                    <!-- <h4 class="text-center">Features</h4>
                    <ul class="list-group list-group-flush text-left">
                    <li class="list-group-item"><b>Recipe Uploads:</b> You can upload your own recipes, complete with detailed instructions, ingredient lists, and beautiful pictures to guide you every step of the way.</li>
                    <li class="list-group-item"><b>Recipe Suggestions:</b> Not sure what to cook next? Our application provides recipe suggestions to inspire your next culinary adventure.</li>
                    <li class="list-group-item"><b> Ingredients:</b> Our detailed ingredient list ensures you have everything you need to create your masterpiece. Plus, it helps in planning your grocery shopping!</li>
                    <li class="list-group-item"><b>Instructions:</b> Each recipe comes with step-by-step instructions to make the cooking process as smooth as possible, whether you’re a beginner or a seasoned chef.</li>
                    </ul> -->
                    <img class="img-fluid rounded mt-2" loading="lazy" src="https://img.freepik.com/premium-photo/craft-interactive-recipe-hub-lifestyle-websi-generative-ai_1198249-8508.jpg?size=626&ext=jpg&ga=GA1.1.553209589.1715040000&semt=ais" alt="images">
                </div>
        </div>
                
      </div>
      
      
 </div>